<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProtoTumblr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CE2E6FC1D06347F00231827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE2E7101D06347F00231827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE2E71B1D06347F00231827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
